


.memberships-row {
    margin-bottom: 5em;
}

.membership {
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5em;

    @media (min-width: 768px) {
        width: 50%;
        margin-bottom: 0;
    }

    &-title {
        @include font-size(2.8);
    }

    &-price {
        @include font-size(2.2);
        margin-top: 0.5em;
    }

    &-content{
        margin-top: 1em;
    }

    &-img {
        margin-top: auto;
    }
}

.memberships-cta {
    text-align: center;

    &-text {
        @include font-size(2.8);
        margin-bottom: 1em;
    }

    &-form {
        text-align: left;
        margin-top: 2em;

        .form-control {
            @include font-size(1.6);
        }

        input[type=radio] {
            transform: scale(1.3);
        }

        span.wpcf7-list-item {
            margin: 0 1em 0 0;
        }

        span.wpcf7-list-item-label {
            font-weight: bold;
            display: inline-block;
            padding-left: 1em;
        }

        .btn {
            @include font-size(1.8);
            padding: 0.5em 3.5em;
        }
    }
}
