.header {
    display: flex;
    align-items: center;
    background: $background-dark-grey;

    @media (min-width: 768px) {
        height: 25vh;
        max-height: 400px;
    }

    &-title {
        padding: 2em 0;
        @include font-size(4);
        @include line-height(6);
        color: $font-color-white;
        text-shadow: 0 1px 0 black;

        @media (min-width: 768px) {
            @include font-size(6);
            @include line-height(8);
        }
    }
}

.frontpage-header {
    @media (min-width: 768px) {
        height: 75vh;
        max-height: 750px;
    }
}
